* {
	margin: 0 auto;
	padding: 0;
}

li {
	border-right: 1px solid white;
}

#boredButton, #boredFormButton {
	margin-top: 15%;
	height: 6%;
	width: 50%;
	margin-left: 25%;
}

#boredButtonTxt {
	font-size: 50px;
}

input {
	text-align: center;
}

#searchSection {
	margin-top: 10%;
}