<div ng-if='dayCtrl.showQuestionnaire' id='surveyForm'>
	<h1>Boredom survey</h1>
	<form action='#'>
		<h4>Was this search helpful?</h4>
		<input name='query1' type="radio" ng-model='dayCtrl.query1' value="yes" id='yes' /><label for='yes'>Yes</label>
		<input name='query1' type="radio" ng-model='dayCtrl.query1' value="no" id='no'/><label for='no'>No</label><br/>
		
		<h4>On a scale of 1-5, how would you rate the search's effectiveness in reducing your boredom (1-not at all, 5-very much so)?</h4>
		<input name='query2' type="radio" ng-model='dayCtrl.query2' value="1" id='1' /><label for='1'>1</label>
		<input name='query2' type="radio" ng-model='dayCtrl.query2' value="2" id='2'/><label for='2'>2</label>
		<input name='query2' type="radio" ng-model='dayCtrl.query2' value="3" id='3'/><label for='3'>3</label>
		<input name='query2' type="radio" ng-model='dayCtrl.query2' value="4" id='4'/><label for='4'>4</label>
		<input name='query2' type="radio" ng-model='dayCtrl.query2' value="5" id='5'/><label for='5'>5</label><br/>
		
		<h4>Some more thoughts (on the search, your boredom, life, etc.):</h4>
		<div class='input-field'>
			<textarea ng-model='dayCtrl.notes' id='notes' class="materialize-textarea" placeholder="Use your words" class='center'></textarea>	
		</div>	
	
		<a ng-click='dayCtrl.sendData()' class="btn waves-effect waves-light hoverable blue-grey darken-4" >Submit</a>
		<br/><br/>
		<a ng-click='dayCtrl.cancel()' class="btn waves-effect waves-light hoverable blue-grey darken-4" >Cancel</a>
	</form> 
</div>

<!-- <form ng-if='dayCtrl.dayIndex' class='center-align'>
	<input ng-model='searchStuff' placeholder='search for anything'> 
</form> -->


  <form ng-if='dayCtrl.dayIndex' class='center-align'>
      <input type="text" ng-model='searchBox' placeholder='search for days'>
  </form>


<div ng-if='dayCtrl.dayIndex' ng-repeat="day in dayCtrl.days | orderBy: 'day' | filter:searchBox">
	<div class='day-wrapper'>
		<div><h2><b>{{day.day | date:'fullDate'}}</b></h2></div>
		<div><h3><b>Description of your boredom on {{day.day | date:'shortDate'}}:</b> {{day.description}}</h3></div>
		<div><h3><b>Severity of your boredom on {{day.day | date:'shortDate'}}:</b> {{day.severity}}</h3></div>
		<div><h4>Your searches on {{day.day | date:'shortDate'}}:</h4>
			<ul ng-model='$parent.searchBox' >
				<li ng-repeat='search in day.search'>

					<div ng-if='search.search_result.url'><h4><b>Book search:</b> <a href="{{search.search_result.url}}">{{search.search_result.book_title}}</a> </h4>
						<div ng-if='search.notes'>
							<blockquote><h4>Search thoughts: {{search.notes}}</h4></blockquote>
						</div>
					</div>

					<div ng-if='search.search_result.bill_uri'><h4><b>Bill search:</b> <br/>Bill title: {{search.search_result.title}}<br/> Bill committees: {{search.search_result.committees}}<br/> Bill number: {{search.search_result.number}}<br> Bill introduction date: {{search.search_result.introduced_date}} <br> Latest major action: {{search.search_result.latest_major_action}} <br> Latest major action date: {{search.search_result.latest_major_action_date}} </h4>
						<div ng-if='search.notes'>
							<blockquote><h4>Search thoughts: {{search.notes}}</h4></blockquote>
						</div>
					</div>

					<div ng-if='search.search_result.web_url'><h4><b>Article search:</b> <a href="{{search.search_result.web_url}}">{{search.search_result.headline.main}}</a></h4>
						<div ng-if='search.notes'>
							<blockquote><h4>Search thoughts: {{search.notes}}</h4></blockquote>
						</div>
					</div>

					<div ng-if='search.search_result.link.url'><h4><b>Movie search:</b> <a href="{{search.search_result.link.url}}">{{search.search_result.display_title}}</a></h4>
						<div ng-if='search.notes'>
							<blockquote><h4>Search thoughts: {{search.notes}}</h4></blockquote>
						</div>
					</div>

					<button ng-click='dayCtrl.showSurveyForm(day, search)' class="btn waves-effect waves-light hoverable blue-grey darken-4" type="submit" name="action">Did this search help?</button>
					<br><br>
					<a ng-click='dayCtrl.delete(day, search, $index)' class="btn waves-effect waves-light hoverable blue-grey darken-4" >Delete search</a>
					<br/><br/>
				</li> 
			</ul>
		</div/>
		<a ng-click='dayCtrl.deleteDay($index, day)' class="btn waves-effect waves-light hoverable blue-grey darken-4">Delete this entry for {{day.day | date:'fullDate'}}</a><br><br>
	</div>	
</div>

