<h1>HERE'S THE DAY PAGE/INDEX PAGE ... THIS IS WHERE THE DAYS WILL GO</h1>
<!-- <button ng-click='dayCtrl.showUser()'>HERE's A BUTTON</button> -->
<div ng-if='dayCtrl.showQuestionnaire' id='surveyForm'>
	<form action='#'>
		<h1>Was this search helpful?</h1>
		<input name='query1' type="radio" ng-model='dayCtrl.query1' value="true" id='yes' /><label for='yes'>Yes</label>
		<input name='query1' type="radio" ng-model='dayCtrl.query1' value="false" id='no'/><label for='no'>No</label><br/>
		<button ng-click='dayCtrl.cancel()' class="btn waves-effect waves-light hoverable blue-grey darken-4" >Cancel</button>
	</form> 
</div>

<div ng-repeat="day in dayCtrl.days">
	<div><b>Day: {{day.day | date:'fullDate'}}</b></div>
	<div><b>Description of your boredom on {{day.day | date:'fullDate'}}: {{day.description}}</b></div>
	<div><b>Severity of your boredom on {{day.day | date:'fullDate'}}: {{day.severity}}</b></div>
	<div>{{day.day | date:'fullDate'}}'s searches:
		<ul>
			<li ng-repeat='search in day.search track by $index'>
				<div ng-if='search.search_result.url'><b>Book search:</b> <a href="{{search.search_result.url}}">{{search.search_result.book_title}}</a> </div>
				<div ng-if='search.search_result.bill_uri'><b>Bill search:</b> <br/>Bill title: {{search.search_result.title}}<br/> Bill committees: {{search.search_result.committees}}<br/> Bill number: {{search.search_result.number}}<br> Bill introduction date: {{search.search_result.introduced_date}} <br> Latest major action: {{search.search_result.latest_major_action}} <br> Latest major action date: {{search.search_result.latest_major_action_date}} </div>
				<div ng-if='search.search_result.web_url'><b>Article search:</b> <a href="{{search.search_result.web_url}}">{{search.search_result.headline.main}}</a></div>
				<div ng-if='search.search_result.link.url'><b>Movie search</b> <a href="{{search.search_result.link.url}}">{{search.search_result.display_title}}</a></div>
				<button ng-click='dayCtrl.showSurveyForm()' class="btn waves-effect waves-light hoverable blue-grey darken-4" type="submit" name="action">Did this search help?</button>
				<br/><br/>
			</li> 
			<hr/>
		</ul>
	</div/>
</div>

