<div ng-if='!user' ng-controller='AuthController as authCtrl'>
	<h1>Ennui</h1>
		<h2>Are you bored? Sign up and maybe you can assuage it. At the very least, you can track it.</h2>
		<form>
			<h3>Name</h3><br/><hr/>
			<input type='text' ng-model='name' id='name' placeholder='Your name goes here'><br/>
			<h3>Email</h3><br/><hr/>
			<input type='text' ng-model='email' id='email' placeholder='Your email goes here'><br/>
			<h3>Password</h3><br/><hr/>
			<input type='password' ng-model='password' id='password' placeholder='Your password goes here'><br/>
			<button ng-click='authUser()'>Sign up</button> 
		</form>

		<a href="/login">Login if you're already bored and signed up</a>
</div>

<div ng-if='user'>
	<h1>STUFF WILL Go HERE EVENTUALLY</h1>

</div>