<h1 ng-controller='MetricsController as metCtrl'>Your Boredom Metrics</h1>
<h2>Ratings: {{metCtrl.ratings}}</h2>
<h2>Avg Search Ratings: {{metCtrl.avg}}</h2>
<h2>Search Effectiveness (in relieving boredom): Effective {{metCtrl.efficacy | number }}% of the time</h2>
<h2>Number of Searches: {{metCtrl.searches}}</h2>
<h2>Number of Times Bored: {{metCtrl.boredInstances}}</h2>
Number of Times bored per day
Number of searches per day
Number of searches per times bored
Median bored times
Median Search Ratings
Standard Deviation of search ratings
<!-- FIND SOME WAY TO USE WORDS MOST COMMONLY USED TO DESCRIBE BOREDOM ON BOTH INITIAL BOREDOM AND SURVEY? -->

