<section ng-controller='SearchController as searchCtrl' id='searchSection'>
<!-- BUTTONS!!!!! -->
	<!-- Button for showing movie search -->
	<a ng-click='searchCtrl.showMovieSearch()' class="waves-effect waves-light btn-large hoverable blue-grey darken-4 center">Search New York Times Movies</a>
	<!-- Button for showing book search -->
	<a ng-click='searchCtrl.showBookSearch()' class="waves-effect waves-light btn-large hoverable blue-grey darken-4 center">Search New York Times Books</a>
	<!-- Button for showing article search -->
	<a ng-click='searchCtrl.showArticleSearch()' class="waves-effect waves-light btn-large hoverable blue-grey darken-4 center">Search New York Times Articles</a>
	<a ng-click='searchCtrl.showBillSearch()' class="waves-effect waves-light btn-large hoverable blue-grey darken-4 center">Search New York Times Recent Bills</a>

<!-- FORMS!!!!!! -->
	<!-- Form for movie search -->
	<form ng-if='searchCtrl.searchMovies'>
		<h4 class='center'>Search for movies:</h4>
		<input type='text' name='movieSearch' ng-model='searchCtrl.movieSearch' placeholder='Enter a moview title'> 
		<button ng-click='searchCtrl.searchForMovies()' class="btn waves-effect waves-light hoverable blue-grey darken-4" type="submit" name="action">Search<i class="material-icons right">send</i>
	  </button>
	</form>
	<!-- Form for book search -->
	<form ng-if='searchCtrl.searchBooks'>
		<h4 class='center'>Search for books:</h4>
		<input type='text' name='bookSearch' ng-model='searchCtrl.bookSearch' placeholder='Enter an author'>
		<button ng-click='searchCtrl.searchForBooks()' class="btn waves-effect waves-light hoverable blue-grey darken-4" type="submit" name="action">Search<i class="material-icons right">send</i>
	  </button>
	</form>
	<!-- Form for article search -->
	<form ng-if='searchCtrl.searchArticles'>
		<h4 class='center'>Search for articles:</h4>
		<input type='text' name='articleSearch' ng-model='searchCtrl.articleSearch' placeholder='Enter something'>
		<button ng-click='searchCtrl.searchForArticles()' class="btn waves-effect waves-light hoverable blue-grey darken-4" type="submit" name="action">Search<i class="material-icons right">send</i>
	  </button>
</form>
	<!-- Form for bill search -->
	<form ng-if='searchCtrl.searchBills'>
		<h4 class='center'>Search for recent bills for:</h4>
		<input type='text' name='billSearch' ng-model='searchCtrl.billSearch' placeholder='Enter passed, updated, introduced or major'>
		<button ng-click='searchCtrl.searchForBills()' class="btn waves-effect waves-light hoverable blue-grey darken-4 center" type="submit" name="action">Search<i class="material-icons right">send</i>
	  </button>
</form>
<!-- SEARCH RESULTS !!!! -->
<!-- Div containing movie search results -->
	<div ng-if='searchCtrl.showResults'>
		<ul>
			<div ng-if="searchCtrl.showMovieDays" id='addSearchToDay'>
				Add to this day:<br/><hr/>
				<!-- SHOWS ALL THE DAYS THAT THE SEARCH CAN BE ADDED TO -->
				<button ng-click='searchCtrl.addToDay(day)' ng-repeat='day in searchCtrl.days' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">{{day.day}}</button><br/><hr/>
				<!-- CANCEL BUTTON -->
				<button ng-click='searchCtrl.cancelAdd()' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">Cancel</button>
			</div>
			<li ng-repeat='result in searchCtrl.results track by $index'>Movie:<br/>
				<ol>
					<li>Title: {{result.display_title}}</li>
					<li>Reviewer: {{result.byline}}</li>
					<li>Summary: {{result.summary_short}}</li>
					<li>Rating: {{result.mpaa_rating}}</li>
					<li>Review url: <a href="{{result.link.url}}">{{result.link.url}}</a></li>
					<img src="{{result.multimedia.resource.src}}">
				<button ng-click='searchCtrl.save(result, $index)' class="btn waves-effect waves-light hoverable blue-grey darken-4 center" type="submit" name="action">Save
	  		</button>
				</ol><br/><hr/>
			</li>
		</ul>
	</div>
	<!-- Div containing book search results -->
	<div ng-if='searchCtrl.showBookResults'>
		<ul>
			<div ng-if="searchCtrl.showBookDays" id='addSearchToDay'>
				Add to this day:<br/><hr/>
				<!-- DAYS FOR SEARCH RESULTS -->
				<button ng-click='searchCtrl.addToDay(day)'  ng-repeat='day in searchCtrl.days' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">{{day.day}}</button><br/><hr/>
				<!-- CANCEL BUTTON -->
				<button ng-click='searchCtrl.cancelAdd()' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">Cancel</button>
			</div>
			<li ng-repeat='result in searchCtrl.bookresults track by $index'>Author: {{result.book_author}}<br/>
				<ol>
					<li>Title: {{result.book_title}}</li>
					<li>Reviewer: {{result.byline}}</li>
					<li>Summary: {{result.summary}}</li>
					<li>Review url: <a href="{{result.url}}">{{result.url}}</a></li>
				<button ng-click='searchCtrl.save(result, $index)' class="btn waves-effect waves-light hoverable blue-grey darken-4 center" type="submit" name="action">Save
	  		</button>
				</ol><br/><hr/>
			</li>
		</ul>
	</div>
<!-- DIV CONTAINING ARTICLE SEARCH RESULT -->
	<div ng-if='searchCtrl.showArticleResults'>
		<ul>
			<div ng-if="searchCtrl.showArticleDays" id='addSearchToDay'>
				Add to this day:<br/><hr/>
				<!-- DAYS FOR SEARCH RESULTS -->
				<button ng-click='searchCtrl.addToDay(day)' ng-repeat='day in searchCtrl.days' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">{{day.day}}</button><br/><hr/>
				<!-- BUTTON FOR CANCELING SEARCH RESULTS -->
				<button ng-click='searchCtrl.cancelAdd()' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">Cancel</button>
			</div>
			<li ng-repeat='result in searchCtrl.articleresults track by $index'>Headline: {{result.headline.main}}<br/>
				<ol>
					<li>{{result.byline.orginal}}</li>
					<li>Section: {{result.news_desk}}</li>
					<li>Sub-head: {{result.lead_paragraph}}</li>
					<li>Story url: <a href="{{result.web_url}}">{{result.web_url}}</a></li>
				<button ng-click='searchCtrl.save(result, $index)' class="btn waves-effect waves-light hoverable blue-grey darken-4 center" type="submit" name="action">Save
	  		</button>
				</ol><br/><hr/>
			</li>
		</ul>
	</div>
	<!-- DIV CONTAININE BILL SEARCH RESULTS -->
	<div ng-if='searchCtrl.showBillResults'>
		<ul>
			<div ng-if="searchCtrl.showBillDays" id='addSearchToDay'>
				Add to this day:<br/><hr/>
				<!-- BUTTON FOR ADDING SEARCH RESULT TO DAY -->
				<button ng-click='searchCtrl.addToDay(day)' ng-repeat='day in searchCtrl.days' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">{{day.day}}</button><br/><hr/>
				<!-- BUTTON FOR CANCELING SEARCH RESULT -->
				<button ng-click='searchCtrl.cancelAdd()' class="btn waves-effect waves-light hoverable blue-grey darken-4 center">Cancel</button>
			</div>
			<li ng-repeat='result in searchCtrl.billresults track by $index'>Title: {{result.title}}<br/>
				<ol>
					<li>Committees: {{result.committees}}</li>
					<li>Introduced: {{result.introduced_date}}</li>
					<li>Latest Major Action: {{result.latest_major_action}}</li>
					<li>Latest Major Action Date: {{result.latest_major_action_date}}</li>
					<li>Bill Number: {{result.number}}</li>
				<button ng-click='searchCtrl.save(result, $index)' class="btn waves-effect waves-light hoverable blue-grey darken-4 center" type="submit" name="action">Save
	  		</button>
				</ol><br/><hr/>
			</li>
		</ul>
	</div>

</section>